/*reset*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: linear-gradient(35deg,#e9ecef,#9fb3c6);
}

.conteiner{
    background-color: #fff;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0,5)
}

.heard {
    text-align: center;
    margin-bottom: 24px
}

.heard img{
    width: 200px;
    margin: 0 auto
}

.heard h1{
    background-color: #9fb3c6;
    font-size: 1.4rem;
    margin-top: -50px;
}
